.input {
  border: none;
  background-color: #e5e5e5;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.input:focus {
  outline: none;
  background-color: #d6d6d6;
}

.input::-webkit-scrollbar {
  width: 15px;
}

.input::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 30px;
}

.input::-webkit-scrollbar-corner {
  background-color: #e5e5e5;
}

.input:focus::-webkit-scrollbar-corner {
  background-color: #d6d6d6;
}


.btn {
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 5px;
  background-color: #4a6572;
  color: #e5e5e5;
}

.btn:hover {
  cursor: pointer;
  background-color: #344955;
}

.btn:focus {
  outline: none;
  background-color: #232f34;
}
