.header {
  background-color: #232f34;
  color: #f3f3f3;
  height: 75px;
  padding: 0 10%;
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  align-items: center;
}

.header__logo {
  height: inherit;
}

.header__user {
  grid-column: 3;
  font-size: 20px;
  font-weight: bold;
  color: #e5e5e5;
}

.header__avatar {
  grid-column: 4;
  height: 70px;
  width: 70px;
  margin-left: 15px;
  border-radius: 50%;
}