.message-list {
  height: 64vh;
  overflow-y: scroll;
  padding: 0 5%;
}

.separator {
  border-bottom: 1px solid;
  text-align: center;
}

.message-list::-webkit-scrollbar {
  width: 15px;
}

.message-list::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 30px;
}

.message-list::-webkit-scrollbar-thumb:hover {
  background-color: #4a6572;
}
