.users {
  grid-row: 1/4;
  background-color: #4a6572;
}

.user-item {
  background-color: #e5e5e5;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 30%;
}

.user-item__data {
  font-size: 2em;
}

.user-item__name {
  margin-right: 40px;
}

.user-item__btns .btn {
  margin-right: 10px;
}

.user-btn {
  margin-left: 10px;
}

.add-user__btn {
  background-color: #e5e5e5;
  color: #4a6572;
}