.chat__header {
  background-color: #e5e5e5;
  height: 8vh;
  box-sizing: border-box;
  display: grid;
  padding: 0 5%;
  grid-template-columns: 17% 17% 17% 1fr 30%;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chat__header-title {
  margin: 0;
}

.chat__header-last-message {
  grid-column: 5;
  text-align: end;
}