.modal__layer {
  position: fixed;
  background-color: rgba(74, 101, 114, 0.4);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.modal__container {
  background-color: #eee;
  width: 60%;
  height: 140px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1%;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 4fr max-content max-content;
}

.modal__message-input {
  height: 70px;
  grid-column: 1 / 4;
  margin-bottom: 15px;
}

.modal__btn {
  justify-self: center;
  margin-left: 15px;
}

.modal__cancel-btn {
  grid-column: 2;
  border: 2px solid #4a6572;
  background: transparent;
  color: #4a6572;
  font-weight: bold;
}

.modal__cancel-btn:hover {
  color: #e5e5e5;
  font-weight: normal;
  background-color: #4a6572;
}

.modal__cancel-btn:focus {
  color: #e5e5e5;
  font-weight: normal;
  border-color: #232f34;
  background-color: #232f34;
}
